Makefile
Makefile.am
Makefile.in
*.m4
*.ami
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h*
Makefile.am.common
